.brand-side {
  padding: 4rem;
}

.brand-title {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  color: var(--color-text-inverse);
}

.brand-title span{
  color: var(--color-accent);
}

.brand-description {
  color: var(--color-text-on-dark-secondary);
  max-width: 500px;
  margin-bottom: 3rem;
  font-size: var(--font-size-sm);
}

.feature-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.feature-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color:white;
  font-size: 0.875rem;
}

.feature-content h5 {
  margin-bottom: 0.4rem;
  color: var(--color-text-inverse);
  font-weight: 700;
  font-size: var(--font-size-sm);
}

.feature-content p {
  color: var(--color-text-on-dark-secondary);
  margin: 0;
  font-size: var(--font-size-sm);

}

@media (max-width: 992px) {
  .brand-side {
    display: none;
  }
}
